body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: max-content;
  margin: auto;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

img {
  max-width: 100%;
}

.index-container {
  display: flex;
  flex-flow: column nowrap;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 20px 120px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.page-header__links {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 40px;
}

.page-hero {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  padding: 100px 120px;
  font-size: 18px;
}

.page-hero__content {
  flex: 1;
  padding: 10px;
}

.page-hero__title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.page-hero__subtext {
  color: #e5e7eb;
}

.button {
  background-color: #3882f6;
  border: none;
  border-radius: 15px;
  color: whitesmoke;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.page-hero__image {
  flex: 1;
  padding: 10px;
}

.page-info {
  background-color: #ffffff;
  padding: 100px 120px;
}

.page-info__title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.page-info__content {
  display: flex;
  justify-content: center;
  gap: 80px;
  text-align: center;
}

.card {
  max-width: 200px;
}

.card img {
  border-radius: 10px;
}

.page-quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 120px;
}

.page-quote__text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  width: 800px;
}

.page-quote__attribute {
  font-weight: bold;
  text-align: right;
  width: 800px;
}

.page-cta {
  display: flex;
  justify-content: center;
  padding: 100px 120px;
}

.page-cta__container {
  background-color: #3882f6;
  border-radius: 15px;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  gap: 75px;
}

.page-cta__header {
  font-size: 24px;
  font-weight: bold;
  color: whitesmoke;
}

.page-cta__subtext {
  color: whitesmoke;
}

.page-cta__button {
  border: 2px solid whitesmoke;
}

.page-footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 50px 120px;
}
